@use '../../globalStyles/mixin' as mixin;
@use '../../globalStyles/variables' as variables;

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: white;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';

    &::before {
      @include mixin.tag('', 50);
      margin-top: 10px;
    }
    &::after {
      @include mixin.tag('/', -350);
      margin-top: 40px;
      margin-left: 20px;
    }
    .letter-n {
      width: 45px;
      height: 45px;
      margin-left: 20px;
      opacity: 0;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;

      &:hover {
        transform: scaleY(1.5);
      }
    }
  }
}

h2 {
  color: #8d8d8d;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.flat-btn {
  color: variables.$yellow;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid variables.$yellow;
  float: left;
  margin-top: 40px;
  // white-space: nowrap;
  &:hover {
    background-color: variables.$yellow;
    color: #333;
  }
}
