@use '../../../globalStyles/variables' as variables;
@use '../../../globalStyles/mixin' as mixin;

.info-map {
  position: absolute;
  background-color: #000;
  top: 80px;
  right: 30.5%;
  z-index: 999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeInUp 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: variables.$yellow;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  margin-right: auto;
  width: 53%;
  position: absolute;
  right: 0;
  height: 100%;

  .leaflet-container {
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
    transition: opacity 0.3s ease-in-out;

    span {
      font-size: 15px;
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      background: variables.$yellow;
    }
    .leaflet-popup {
      margin-bottom: 40px;
    }

    .cluster-icon {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      background-color: variables.$yellow;
      color: #5f5e5e;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
    }
  }
}
